In [3]:
# Importing all the necessary imports
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('samplecar.csv')
#let's see data
data

    Type Price  Buy
0    SUV     H   No
1     HB     H   No
2     HB     H  Yes
3     HB     L   No
4  SEDAN     H  Yes
5  SEDAN     L  Yes
6    SUV     L   No
7  SEDAN     H  Yes
8     HB     L  Yes
9    SUV   Hot  Yes

Replacing Hot with H as H shows the price

In [8]:
data = data.replace(to_replace="Hot", value="H")
data

    Type Price  Buy
0    SUV     H   No
1     HB     H   No
2     HB     H  Yes
3     HB     L   No
4  SEDAN     H  Yes
5  SEDAN     L  Yes
6    SUV     L   No
7  SEDAN     H  Yes
8     HB     L  Yes
9    SUV     H  Yes

In [9]:
#seperating features and target values
features = data.iloc[:,:-1]
target = data.iloc[:,-1:]
assert features.shape[0] == target.shape[0], " len(features) == len(target)"

In [10]:
tot = len(data)
# taking total number of NO'S and Yes
tot_n = data[data['Buy'] == 'No'].shape[0]
tot_y =  data[data['Buy'] == 'Yes'].shape[0]

In [11]:
prob_y = tot_y/tot
prob_n = tot_n/tot
e_tot = -(prob_y*np.log2(prob_y)) - (prob_n*np.log2(prob_n))
#this gives the total entropy of the dataset
e_tot

0.9709505944546686

calculating the respective average information that we get

In [12]:
data['Type'].unique()

array(['SUV', 'HB', 'SEDAN'], dtype=object)

In [14]:
#The Dataset containes three types of cars that is SUV, HB, SEDAN
#For SUV, there are 3 total samples in the dataset. Where yes=1 and no=2

In [15]:
tot_suv = data[data['Type'] == 'SUV'].shape[0]
p_suv_yes = len(data[(data.Type == 'SUV') & (data.Buy == 'Yes')])/tot_suv
p_suv_no = len(data[(data.Type == 'SUV') & (data.Buy == 'No')])/tot_suv

#calculating entropy
e_suv = -(p_suv_yes*np.log2(p_suv_yes)) - (p_suv_no*np.log2(p_suv_no)) 


#probability of SUV in the dataset
p_suv = tot_suv/tot


print(f"Entropy : {e_suv}\nProbability : {p_suv}")

Entropy : 0.9182958340544896
Probability : 0.3

In [16]:
#For "HB" there is 4 total samples in the dataset. Where yes=2 and no=2
tot_HB = data[data['Type'] == 'HB'].shape[0]
p_HB_y = len(data[(data.Type == 'HB') & (data.Buy == 'Yes')])/tot_HB
p_HB_n = len(data[(data.Type == 'HB') & (data.Buy == 'No')])/tot_HB

#calculating entropy 
e_hb = -(p_HB_y*np.log2(p_HB_y)) - (p_HB_n*np.log2(p_HB_n))

#probability of HB in dataset
p_hb = tot_HB/tot

print(f"Entropy : {e_hb}\nProbability : {p_hb}")

Entropy : 1.0
Probability : 0.4

In [17]:
#For Sedan, there are 3 total samples in the dataset. Where yes=3 and no=1
tot_sed = data[data['Type'] == 'SEDAN'].shape[0]
p_sed_y = len(data[(data.Type == 'SEDAN') & (data.Buy == 'Yes')])/tot_sed
p_sed_n = len(data[(data.Type == 'SEDAN') & (data.Buy == 'No')])/tot_sed

#calculating entropy
e_sed = -(p_sed_y*np.log2(p_sed_y)) - (p_sed_y*np.log2(p_sed_y))

#probability of Sedan in dataset
p_sed = tot_sed/tot

print(f"Entropy : {e_sed}\nProbability : {p_sed}")

Entropy : -0.0
Probability : 0.3

In [18]:
#Average Information
I_cartype = p_suv * e_suv + p_hb * e_hb + p_sed * e_sed
print(f"Average Information for the Cartype\nI(cartype) = {I_cartype}")

Average Information for the Cartype
I(cartype) = 0.6754887502163469

In [19]:
# For Car Price
data['Price'].unique()

array(['H', 'L'], dtype=object)

In [20]:
#price for two categories i.e either# High or Low.
#2.1. Entropy and Probability
#For High, there is 6 total samples, where yes=4 and no=2
tot_high = len(data[data.Price == 'H'])
p_high_y = len(data[(data.Price == 'H') & (data.Buy == 'Yes')])/tot_high
p_high_n = len(data[(data.Price == 'H') & (data.Buy == 'No')])/tot_high

#entropy for high
e_high = -(p_high_y *np.log2(p_high_y ))- (p_high_n*np.log2(p_high_n))

#probability of High in dataaset
p_high = tot_high/tot

print(f"Entropy : {e_high}\nProbability : {p_high}")

Entropy : 0.9182958340544896
Probability : 0.6

In [21]:
#For Low, there is 4 total samples, whhich has yes=2 and no=2
tot_low = len(data[data.Price == 'L'])
p_low_y = len(data[(data.Price == 'L') & (data.Buy == 'Yes')])/tot_low
p_low_n = len(data[(data.Price == 'L') & (data.Buy == 'No')])/tot_low

#entropy for low
e_low = -(p_low_y *np.log2(p_low_y ))- (p_low_n*np.log2(p_low_n))

#probability of High in dataaset
p_low = tot_low/tot

print(f"Entropy : {e_low}\nProbability : {p_low}")

Entropy : 1.0
Probability : 0.4

In [22]:
#2.2. For Average Information
I_price = p_high* e_high + p_low *e_low
print(f"Average Information for the Price\nI(price) = {I_price}")

Average Information for the Price
I(price) = 0.9509775004326937

In [23]:
#Information Gain
#Claculating Information gain of every arrtibute in the dataset.There is difference btween Entropy(S) data set and Average information for the each attribute of data.
#1. For Car Type
gain_att1 = e_tot - I_cartype
print(f"Information Gain of Cartype : {gain_att1}")

Information Gain of Cartype : 0.29546184423832167

In [24]:
#2. For price of Car
gain_att2 = e_tot - I_price
print(f"Information Gain of Price : {gain_att2}")

Information Gain of Price : 0.01997309402197489

In [ ]:
# Here the  car type has high information gain (IG) so it can be used as the root node for our tree.